:root{
    --dark-color: #232F34;
    --normal-color: #344955;
    --light-color: #82929A;
    --base-background-color: #D2DBE0;
    --header-color: #fff;
    --primary-color: #F9AA33;
    --secondary-color: #4A6572;
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body {
    background-color: var(--header-color);
}

h1{
    background-color: var(--normal-color);
    color: var(--header-color);
    font-size: 6.5em;
    text-align: center;
}

.board {
    align-content: space-around;
    background-color: var(--normal-color);
    cursor: pointer;
    display: flex;
    font-size: 4.5em;
    flex-flow: row wrap;
    line-height: 85px;
    margin: 15px auto;
    text-align: center;
    height: 399px;
    width: 399px;
}

.row {
    display: flex;
    justify-content: space-around;
    height: 99.75px;
    width: 399px;
}

.cell {
    background-color: var(--primary-color);
    height: 96px;
    width: 96px;
}

.cell-hover:hover{
    background-color: var(--secondary-color);
}

.btn {
    transform: translateX(42.5%);
    transition: all 1.5s;
}

.btn .button {
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.35rem;
    margin: 0 5px;
    padding: 1px 5px;
}

.win{
    border-color: red;
}